* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: white
    url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/6UHHE19YG7.jpg")
    no-repeat fixed left;
  background-size: cover;
  font-family: helvetica;
}
